<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/user.css">
    <title>User Profile</title>
</head>
<body>

<nav class="navbar">
    <div class="container">
        <span class="navbar-text me-auto" id="userInfo">
        </span>
        <form id="logoutForm" method="post" class="d-inline">
            <button type="submit" class="btn btn-outline-light">Logout</button>
        </form>
    </div>
</nav>

<div class="sidebar-fixed col-3">
    <div class="card-body">
        <ul class="list-group mt-3" id="sidebarUserList">
        </ul>
    </div>
</div>

<div class="main-content">
    <h1 class="mb-4">User information-page</h1>

    <div class="card">
        <div class="card-header">
            About user
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Age</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody id="userTableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/user.js"></script>

</body>
</html>